<!DOCTYPE html>
<meta charset="utf-8">

{% load staticfiles %}
<link rel="stylesheet" href="{{ STATIC_URL ~ 'csmapper/css/style.css' }}">
{# <link href="//fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css"> #}
{# <script type="text/javascript" src="{{ STATIC_URL ~ 'js/main.js' }}"></script> #}

<title>
  {% block title %}
    Home
  {% endblock title %}
  - Csmap Tool
</title>
{% block content %}
{% endblock content %}
<div id="footer">
  {% block footer %}
    csmap Web v1.5<br>
  {% endblock footer %}
</div>
